@font-face {
    font-family: 'SmileySans';
    src: url('../Fonts/SmileySans-Oblique.ttf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal
}

/* 设置所有元素的盒模型为边框盒 */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* 页面整体样式 */
body {
    margin: 0px; /* 默认的页面外边距为0 */
    cursor: url('../Images/mouse/mouse-1.cur'), url(../Images/mouse/mouse-1.cur), auto; /* 默认鼠标指针样式 */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* 默认字体样式 */
    font-size: 15px; /* 默认页面字体大小 */
    color: #000000; /* 默认文字颜色为黑色 */
    line-height: 1.5; /* 默认行高为字体大小的1.5倍 */
    word-wrap: break-word; /* 单词或URL地址过长时换行 */
    -webkit-text-size-adjust: 100%; /* 控制文本尺寸调整 */
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: #000000; /* 默认背景颜色 */
    background-color: #000000; /* 默认背景颜色 */
    background-attachment: fixed; /* 背景图像位置固定 */
    background-repeat: no-repeat; /* 设置背景图片不重复 */
    -webkit-background-size: cover; /* 设置背景图片等比例缩放以填充整个容器 */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* 设置输入框、按钮和下拉框的字体样式继承自父元素 */
/* 这玩意屁用没有，套个几层全没用了 */
input, button, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* 这个可以不要 */
/* audio {
    display: block;
    width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
} */

/* 页脚样式 */
footer {
    display: block; /* 设置为块级元素显示 */
    text-align: center; /* 文本居中对齐 */
    color: #FFFFFF; /* 文字颜色 */
    padding: 32px; /* 与内部元素的边距 */
}

/* 页脚中的超链接样式 */
footer a {
    color: #FFFFFF;
}

/* 页脚中的超链接悬停样式 */
footer a:hover {
    color: #66CCFF;
}

/* 超链接的默认样式 */
a {
    color: #000000; /* 默认文字颜色 */
    text-decoration: none; /* 去除下划线 */
    cursor: url('../Images/mouse/mouse-2.cur'), url(../Images/mouse/mouse-2.cur), auto; /* 鼠标指针样式 */
}

/* 超链接悬停和获取焦点时的样式 */
a:hover, a:focus {
    color: #66CCFF; /* 文字颜色 */
    text-decoration: none; /* 去除下划线 */
}

/* 超链接获取焦点时的样式 */
a:focus {
    outline: #000000 dotted 5px auto; /* 获取焦点时的外边框:黑色 虚线 5像素 自动 */
    outline-offset: -2px; /* 外边框偏移，负数绘制在框内 */
}

/* 图像样式 */
img {
    max-width: 100%; /* 图像最大宽度为父元素的100% */
    border-radius: 5px; /* 图像圆角 */
    vertical-align: middle; /* 位置垂直居中对齐 */
    height: auto; /* 图像高度自动 */
}

/* 无序列表样式 */
ul {
    list-style-type: none; /* 去除列表的默认样式 */
}

/* 侧边栏和页眉样式 */
header {
    display: block;
    z-index: 9999;
}

aside {
    display: block; /* 设置为块级元素显示 */
}

/* 引用块的样式 */
blockquote {
    padding: 10px 20px; /* 内边距，上下 左右 */
    margin: 0 0 20px; /* 外边距，顶部 底部 左右 */
    border: #66CCFF 1px solid; /* 边框:蓝色 实线 1像素 */
}

/* 引用块中字体的样式 */
blockquote span {
    font-size: 15px; /* 字体大小 */
    font-weight: 300; /* 字体粗细 */
    line-height: 1.25; /* 行高 */
}